@import "utils/util";

//Grids
$global-width: 85% !default;
$nav-width: rem-calc(1640) !default;
$global-margin: 1rem;
$global-lineheight: 1.5;
$global-flexbox: true;

//Colors
$white: #FFFFFF;
$black: #1C1C1C;
$contrast: #efb89a;
$darkcontrast: #ecb193;
$border: $contrast;
$grey: rgba($white,.4);
$grey-hover: $white;
$light-grey: rgba($white,.7);
$blue: #0095FA;

//z-index
$z-1: 10;
$z-10: 999;

//Fonts
$h1: 38;
$h2: 38;
$h3: 21;
$font-size: 17;
$body-font: 'DM Sans', sans-serif;
$heading-font: 'DM Sans', sans-serif;
$fontreduce: 1.35;
$header-lineheight: 1.3;
$header-margin-bottom: 0.5rem;

/// @type Keyword
$global-text-direction: ltr !default;

// Internal variables used for text direction
$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);

// Internal variable that contains the flex justifying options
$-zf-flex-justify: -zf-flex-justify($global-text-direction);

// Gutters
$small-gutter: 20;
$large-gutter: 40;

$grid-column-gutter: (
    small: $small-gutter,
    medium: $large-gutter
);

$grid-cards-gutter: (
    small: $small-gutter * 4,
    medium: $large-gutter * 4
);

$grid-margin-gutters: (
    small: $small-gutter * 2,
    medium: $large-gutter * 2
);

//Grids
$vspace: 190;
$midvspace: 60;

%large-vspace {
  margin-top: rem-calc($vspace / 2);
  margin-bottom: rem-calc($vspace / 2);

  @include breakpoint(large up) {
    margin-top: rem-calc($vspace);
    margin-bottom: rem-calc($vspace);
  }

  &-top {
    margin-top: rem-calc($vspace / 2);

    @include breakpoint(large up) {
      margin-top: rem-calc($vspace);
    }
  }

  &-bottom {
    margin-bottom: rem-calc($vspace / 2);

    @include breakpoint(large up) {
      margin-bottom: rem-calc($vspace);
    }
  }
}

%mid-vspace {
  margin-top: rem-calc($midvspace / 2);
  margin-bottom: rem-calc($midvspace / 2);

  @include breakpoint(large up) {
    margin-top: rem-calc($midvspace);
    margin-bottom: rem-calc($midvspace);
  }

  &-top {
    margin-top: rem-calc($midvspace / 2);

    @include breakpoint(large up) {
      margin-top: rem-calc($midvspace);
    }
  }

  &-bottom {
    margin-bottom: rem-calc($midvspace / 2);

    @include breakpoint(large up) {
      margin-bottom: rem-calc($midvspace);
    }
  }
}

%small-vspace {
  margin-top: rem-calc($small-gutter);
  margin-bottom: rem-calc($small-gutter);

  @include breakpoint(large up) {
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(30);
  }

  &-top {
    margin-top: rem-calc($small-gutter);

    @include breakpoint(large up) {
      margin-top: rem-calc(30);
    }
  }

  &-bottom {
    margin-bottom: rem-calc($small-gutter);

    @include breakpoint(large up) {
      margin-bottom: rem-calc(30);
    }
  }
}

// Radius
%standard-radius {
  @include custom-radius(rem-calc(11));

  @include breakpoint(medium up) {
    @include custom-radius(rem-calc(22));
  }

  &-small {
    @include custom-radius(rem-calc(10));

    @include breakpoint(medium up) {
      @include custom-radius(rem-calc(11));
    }
  }
}

// Animations
%fast-ani {
  @include transition-transform(all, 200ms, ease-in-out, 0s);

  &:hover {
    @include transition-transform(all, 300ms, ease-in-out, 0s);
  }
}

