::-moz-selection {
  background: $white;
  color: $black
}

::selection {
  background: $white;
  color: $black
}

::-moz-selection {
  background: $white;
  color: $black
}

::-webkit-input-placeholder {
  color: $white;
}

:hover::-webkit-input-placeholder {
  color: $white;
}

::-moz-placeholder {
  color: $white;
}

:hover::-moz-placeholder {
  color: $white;
}

:-ms-input-placeholder {
  color: $white;
}

:hover:-ms-input-placeholder {
  color: $grey;
}

:-moz-placeholder {
  color: $black;
}

:hover:-moz-placeholder {
  color: $grey;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px $white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
  -webkit-text-fill-color: $black !important;
}