html {
  line-height: $global-lineheight;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%
}

body {
  margin: 0;
  padding: 0;
  background: $black;
  font-family: $body-font;
  font-weight: 400;
  font-size: rem-calc(14);
  line-height: $global-lineheight;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %fast-ani;

  @include breakpoint(medium up) {
    font-size: rem-calc($font-size);
  }

  @include breakpoint(large up) {
    padding-top: rem-calc(64);
  }
}

a {
  background-color: transparent;
  color: $contrast;
  text-decoration: none;
  @extend %fast-ani;

  &:hover {
    text-decoration: underline
  }
  &:focus, &:hover {
    color: $darkcontrast;
  }
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border-style: none;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

fieldset, form, figure {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

time {
  color: $grey;
  font-size: rem-calc(12);
}

hr {
  width: 100%;
  height: rem-calc(1);
  background-color: $border;
  border: none;
  @extend %fast-ani;
}

.text-center {
  text-align: center;
}

.inactive {
  pointer-events: none;
  cursor: not-allowed;
}

.show {
  display: block;
}

.hide {
  display: none;
}

// browser load js
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.abs-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

[data-title] {
  position: relative;

  &:hover {
    &:after {
      @include transition-transform(all, 300ms, ease-in-out, 1s);
      @include opacity(1);
    }
  }

  &:after {
    position: absolute;
    padding: rem-calc(3 5);
    font-size: rem-calc(10);
    font-family: $body-font;
    line-height: 1;
    content: attr(data-title);
    bottom: 105%;
    left: 50%;
    background-color: rgba($black, .85);
    color: $white;
    @include custom-radius(rem-calc(4));
    @include opacity(0);
    @include transition-transform(all, 200ms, ease-in-out, 0s);
  }
}

.spaced {
  @include flex-align(spaced, top);
}

.justify {
  @include flex-align(justify, top);

  &.align-center {
    @include flex-align(justify, middle);
  }
}