h1,h2,h3,h4,h5,h6,.h2 {
  margin: 0 0 $header-margin-bottom * 2 0;
  font-family: $heading-font;
  line-height: $header-lineheight;
}

h1,h2,h3,.h2 {
  font-weight: 700;

  + p {
    color: $light-grey;
  }
}

p {
  margin: 0 0 $header-margin-bottom 0;
}