[data-badge] {
  display: inline-block;
  background-color: $contrast;
  padding: rem-calc(6 8);
  color: $black;
  font-size: rem-calc(14);
  @include custom-radius(rem-calc(5));
  text-align: center;

  @include breakpoint(large up) {
    font-size: rem-calc(14);
  }
}