.button-group {
  @include xy-grid();
  @include flex-align(left,middle);

  > .button {
    &:not(:last-child) {
      margin-right: rem-calc($small-gutter);

      @include breakpoint(large up) {
        margin-right: rem-calc($large-gutter);
      }
    }
  }
}

.button {
  display: block;
  @include custom-radius(rem-calc(14));
  font-family: $heading-font;
  border: none;
  outline: none;
  cursor: pointer;
  @extend %fast-ani;
  font-weight: 500;
  font-size: rem-calc(16);

  &:hover {
    text-decoration: none;
  }

  &.small {
    padding: rem-calc(6 25);
    @include custom-radius(rem-calc(10));
  }

  &.large {
    padding: rem-calc(18 45);
    font-size: rem-calc(18);
  }

  &.outlined {
    @extend %button-outline;

    &.selected {
      @extend %button-black;
    }
  }

  &.inactive {
    background-color: $border;
    color: $black;
    box-shadow: none;
  }

  &.gold {
    @extend %button-gold;
  }
}

%button-black {
  background-color: $black;
  color: $white;

  &:hover {
    background-color: #0E0D0D;
  }
}

%button-gold {
  background-color: $contrast;
  color: $black;

  &:hover {
    background-color: $darkcontrast;
  }

  &.glow {
    @include box-shadow(1px,1px,80px,10px, rgba($contrast, .33), false);

    &:hover {
      @include box-shadow(1px,20px,70px,0, rgba($contrast, .33), false);
    }
  }
}

%button-outline {
  background-color: transparent;
  border: rem-calc(1) solid $border;
  color: $contrast;

  &:hover {
    background-color: $border;
    color: $black;
  }
}
