body {
  @include xy-gutters($large-gutter);

  @include breakpoint(medium up) {
    @include xy-gutters();
  }
}

main {
  margin-left: auto;
  margin-right: auto;
}

main {
  max-width: $global-width;
  @include xy-gutters($gutter-type: padding);

  @include breakpoint(large up) {
    max-width: 100%;
  }

  @include breakpoint(1640 up) {
    max-width: $global-width;
  }

  > * {
    width: 100%;
    @extend %large-vspace-bottom;

    > * {
      @include xy-grid();
      @include flex-align(left, top);
      @include xy-gutters($negative: true);

      &:not(:last-child) {
        @extend %mid-vspace-bottom;
      }
    }
  }
}

// custom layout styles
.hero {
  img {
    @include custom-radius(rem-calc(52));
  }
}